@page
@model TechnicalInfoWebApp.Pages.UnitPage.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>افزودن</h1>

<h4>نوع کمیت فیزیکی</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TblUnit.FldUnitName" class="control-label">نام واحد</label>
                <input asp-for="TblUnit.FldUnitName" class="form-control" />
                <span asp-validation-for="TblUnit.FldUnitName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblUnit.FldUnitSimbol" class="control-label">نماد واحد</label>
                <input asp-for="TblUnit.FldUnitSimbol" class="form-control" />
                <span asp-validation-for="TblUnit.FldUnitSimbol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblUnit.FldUnitDes" class="control-label">توضیحات واحد</label>
                <input asp-for="TblUnit.FldUnitDes" class="form-control" />
                <span asp-validation-for="TblUnit.FldUnitDes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="افزودن" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">بازگشت</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
