@page
@model TechnicalInfoWebApp.Pages.ParametersUnitPage.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>ویرایش</h1>

<h4>واحد پارامتر</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TblParametersUnit.FldParametersUnitsId" />
            <div class="form-group">
                <label asp-for="TblParametersUnit.FldParametersId" class="control-label">پارامتر</label>
                <select asp-for="TblParametersUnit.FldParametersId" class="form-control" asp-items="ViewBag.FldParametersId"></select>
                <span asp-validation-for="TblParametersUnit.FldParametersId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblParametersUnit.FldUnitId" class="control-label">واحد</label>
                <select asp-for="TblParametersUnit.FldUnitId" class="form-control" asp-items="ViewBag.FldUnitId"></select>
                <span asp-validation-for="TblParametersUnit.FldUnitId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="ذخیره" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">بازگشت</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
