@page
@model TechnicalInfoWebApp.Pages.ParametersUnitPage.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>واحد پارامتر</h1>

<p>
    <a class="btn btn-success m-1" asp-page="Create"><i class="fa fa-plus"></i></a>
</p>
<table class="table table-responsive table-striped">
    <thead>
        <tr>
            <th>
                پارامتر
            </th>
            <th>
                واحد
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.TblParametersUnit)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FldParameters.FldParametersText)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FldUnit.FldUnitName)
                </td>
                <td>
                    <a class="btn btn-warning text-white btn-block" asp-page="./Edit" asp-route-id="@item.FldParametersUnitsId"><i class="fa fa-edit"></i></a>
                    <a class="btn btn-danger btn-block" asp-page="./Delete" asp-route-id="@item.FldParametersUnitsId"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a class="btn btn-link" asp-page="../ParameterPage/Index">بازگشت</a>
