@page
@model TechnicalInfoWebApp.Pages.TechnicalInfoDataTypesValuePage.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>ویرایش</h1>

<h4>ارزش اطلاعات فنی نوع داده</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TblTechnicalInfoDataTypesValue.FldTechnicalInfoDataTypesValuesId" />
            <div class="form-group">
                <label asp-for="TblTechnicalInfoDataTypesValue.FldTechnicalInfoDataTypesId" class="control-label">نوع داده اطلاعات فنی</label>
                <select asp-for="TblTechnicalInfoDataTypesValue.FldTechnicalInfoDataTypesId" class="form-control" asp-items="ViewBag.FldTechnicalInfoDataTypesId"></select>
                <span asp-validation-for="TblTechnicalInfoDataTypesValue.FldTechnicalInfoDataTypesId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblTechnicalInfoDataTypesValue.FldTechnicalInfoDataTypesValuesTxt" class="control-label">مقدار نوع داده اطلاعات فنی</label>
                <input asp-for="TblTechnicalInfoDataTypesValue.FldTechnicalInfoDataTypesValuesTxt" class="form-control" />
                <span asp-validation-for="TblTechnicalInfoDataTypesValue.FldTechnicalInfoDataTypesValuesTxt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="ذخیره" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">بازگشت</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
