@page
@model TechnicalInfoWebApp.Pages.ParameterPage.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>افزودن</h1>

<h4>پارامتر</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TblParameter.FldPhysicalQuantityId" class="control-label">کمیت فیزیکی</label>
                <select asp-for="TblParameter.FldPhysicalQuantityId" class ="form-control" asp-items="ViewBag.FldPhysicalQuantityId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TblParameter.FldParametersText" class="control-label">پارامتر</label>
                <input asp-for="TblParameter.FldParametersText" class="form-control" />
                <span asp-validation-for="TblParameter.FldParametersText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="افزودن" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">بازگشت</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
