@page
@model TechnicalInfoWebApp.Pages.ReferencePage.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>حذف</h1>

<h3>آیا از حذف فایل مطمئن می‌باشید؟</h3>
<div>
    <h4>مرجع</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            مرجع
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblReference.FldReferenceTxt)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="TblReference.FldReferenceId" />
        <input type="submit" value="حذف" class="btn btn-danger ml-1 mr-1" />
        <a asp-page="./Index">انصراف</a>
    </form>
</div>
