@page
@model TechnicalInfoWebApp.Pages.IndexModel
@{
}

<div class="row d-flex justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-12 text-center">
        <div>
            <ul class="list-group">
                <li class="list-group-item"><a class="dropdown-item" asp-page="/ReferencePage/Index"><i class="far fa-map"></i>&nbsp;مرجع</a></li>
                <li class="list-group-item"><a class="dropdown-item" asp-page="/TechnicalInfoGroupPage/Index"><i class="far fa-flag-checkered"></i>&nbsp;گروه اطلاعات فنی</a></li>
                <li class="list-group-item"><a class="dropdown-item" asp-page="/TechnicalInfoPage/Index"><i class="far fa-flag-checkered"></i>&nbsp;اطلاعات فنی</a></li>
                <li class="dropdown-divider"></li>
                <li class="list-group-item"><a class="dropdown-item" asp-page="/ReferenceValuePage/Index"><i class="far fa-flag-checkered"></i>&nbsp;مقادیر مرجع</a></li>
                <li class="dropdown-divider"></li>
                <li class="list-group-item"><a class="dropdown-item" asp-page="/TechnicalInfoDataTypePage/Index"><i class="far fa-flag-checkered"></i>&nbsp;اطلاعات فنی نوع داده</a></li>
                <li class="list-group-item"><a class="dropdown-item" asp-page="/DataDisplayTypePage/Index"><i class="far fa-map"></i>&nbsp;نوع نمایش داده</a></li>
                <li class="list-group-item"><a class="dropdown-item" asp-page="/TechnicalInfoDataTypesValuePage/Index"><i class="far fa-flag-checkered"></i>&nbsp;مقادیر اطلاعات فنی نوع داده</a></li>
                <li class="dropdown-divider"></li>
                <li class="list-group-item"><a class="dropdown-item" asp-page="/ParameterPage/Index"><i class="far fa-compass"></i>&nbsp;پارامتر</a></li>
                <li class="dropdown-divider"></li>
                <li class="list-group-item"><a class="dropdown-item" asp-page="/PhysicalQuantityPage/Index"><i class="far fa-calendar-check"></i>&nbsp;کمیت فیزیکی</a></li>
                <li class="dropdown-divider"></li>
                <li class="list-group-item"><a class="dropdown-item" asp-page="/UnitPage/Index"><i class="far fa-flag-checkered"></i>&nbsp;واحد</a></li>
            </ul>
        </div>
    </div>
</div>