@page
@model TechnicalInfoWebApp.Pages.TypeOfPhysicalQuantityPage.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>نوع کمیت فیزیکی</h1>

<p>
    <a class="btn btn-success m-1" asp-page="Create"><i class="fa fa-plus"></i></a>
</p>
<table class="table table-responsive table-striped">
    <thead>
        <tr>
            <th>
                نوع کمیت فیزیکی
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TblTypeOfPhysicalQuantity) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FldTypeOfPhysicalQuantityTxt)
            </td>
            <td>
                <a class="btn btn-warning text-white btn-block" asp-page="./Edit" asp-route-id="@item.FldTypeOfPhysicalQuantityId"><i class="fa fa-edit"></i></a>
                <a class="btn btn-danger btn-block" asp-page="./Delete" asp-route-id="@item.FldTypeOfPhysicalQuantityId"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
<a class="btn btn-link" asp-page="../PhysicalQuantityPage/Index">بازگشت</a>
